body{
    font-family: 'Roboto Slab', serif;
}
/*-------------
Navigation Bar
---------------*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav a{
    
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
    padding: 20px;
    font-size: larger;
}
nav a:hover{
    background-color: rgb(2, 35, 37);
    transform: scale(1.1);
}

/*--------------
 Dividing into two parts
 ------------------*/
.flexibility{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.half-part{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
/*--------------------
  Section used all over the Project
  ----------------------*/
.first-sec{
    margin-top: 0;
    background-image: url(images/bg1.jpg);
    
    
}
.second-sec{
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.third-sec{
    margin-top: 10%;
    margin-bottom: 10%;
}
.last-sec{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Modifying the h1 tag */
h1{
    font-size: 50px;
    color: whitesmoke;
}
.font-color{
    color: black;
}


/* Button used for login and watch more */
.add-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(128, 0, 75), rgb(224, 64, 131));
    color: whitesmoke;
    padding: 10px 40px;
    font-weight: 700;
    margin-top: 100px

} /* Applied Hover on Banner Image */
.zoom:hover{
    transform: scale(1.3);
}
/*-------------------------
 Section Two of the Project, Player details with name and images
 --------------------------*/

.grid-container{
    display: grid;
    width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    gird-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
.grid-cell{
    border-radius: 1%;
    box-shadow: 10px 10px 40px gray;
    width: 350px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.grid-photo img{
    display: flex;
    align-items: center;
    width: 350px;
    height: 350px;
    align-items: center;
    margin-top: 10px;
}
/* additional part, applied hover on player's images */
.grid-photo:hover{
    transform: scale(1.2);
}
.photo-detail{
    margin-top: 10px;
    padding-left: 10px;
}

/*-----------------
 Some extra information about the project, an additional part
-------------------*/
.extra-info{
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 1%;
    border-left: 8px solid;
    border-image: linear-gradient( rgb(92, 0, 128), rgb(12, 114, 139));
    border-image-slice: 1;
    box-shadow: 10px 10px 20px gray;
}
/*------------------
    Footer Section
  ------------------*/
footer{
    
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
    text-align: center;
}
.add-logo img{
    width: 25%;
    height: 20%;
}
/* ---------------------
      Media Queries
      ------------------*/
      /* Mobile Devices*/

@media only screen and (max-width: 688px) {
    .first-sec nav{
        display: flex;
        flex-direction: column;
    }
    .flexibility{
        display: flex;
        flex-direction: column;
    }
    .add-button{
        display: flex;
    }

    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .grid-cell{

        flex-direction: column;
    }
}

@media only screen and (max-width: 902px) {
}
@media only screen and (max-width: 1312px) {
}
